/* You can add global styles to this file, and also import other style files */
:root{
     --color-orange-200:#f973164d;
    --color-orange-300-rgb:249, 115, 22;
    --color-orange-400:#fb923c;
    --color-orange-600:#ea580c;
    --color-orange-500:#f97316;
    --color-neutral-400:#a3a3a3;
    --color-neutral-500:#737373;
    --color-neutral-800:#262626;
    --color-black-500:#0a0a0a;
    --color-black-400:#161616;
       
    --text-xl:1.25rem;
    --text-2xl:1.50rem;
    --text-6xl: 3.75rem;
    --text-xs:.75rem;
    --text-sm:0.875rem;
}
.background-oragne{
        background: linear-gradient(135deg, rgb(249, 115, 22), rgb(234, 88, 12));
}
.background-black{
    background-color: var(--color-black-500);
}

.text-orange-300{
    color: var(--color-orange-300);
}
.text-orange-400{
    color: var(--color-orange-400);
}
.text-orange-500{
    color: var(--color-orange-500);
}
.text-sm{
    font-size: var(--text-sm);
}
.text-lg{
    font-size: 1.125rem;
}
.text-xl{
    font-size: var(--text-xl);
}
.text-2xl{
    font-size: var(--text-2xl);
}
.text-6xl{
    font-size: var(--text-6xl);
}
.text-xs{
    font-size: var(--text-xs);
}
.text-netual-500{
    color: var(--color-neutral-500);
}
.text-netual-400{
    color: var(--color-neutral-400);
}
.bg-black-500{
    background-color: var(--color-black-500);
}
.bg-black-400{
    background-color: var(--color-black-500);
}
.gradient-text{
  background: linear-gradient(135deg, #f97316, #fbbf24);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}